*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wide{
    margin: 0 auto;
    width:1200px;
}

h1{
    font-size: 32px;
    margin: 12px 0 ;
}

ul{
    align-items: center;
}

li{
    margin: 16px 0;
    font-size: 20px;
    list-style: none;
    display: block;
}

span{
   
    color: orange;
    font-weight: 700;
}

p{
    display: block;
}