*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wide{
    margin: 0 auto;
    width:1200px;
    position: relative;
}

h1{
    font-size: 32px;
    margin: 12px 0 ;
}

ul{
    position: absolute;
    align-items: center;
    z-index: 10;
}

li{
    margin: 16px 0;
    font-size: 20px;
    list-style: none;
    display: block;
}

span{
   
    color: rgb(255, 81, 0);
    font-weight: 700;
}

p{
    display: block;
}

.image{
    width: 100%;
    height: 10000vh;
    background-image: linear-gradient(0, rgba(255,255,255, 0.2), rgba(210, 173, 155, 0.4)),  url(https://scontent-hkt1-2.xx.fbcdn.net/v/t1.6435-9/241019065_1503416956657979_3852130866362052001_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=c0by-1s4z8AAX9hJbiR&_nc_ht=scontent-hkt1-2.xx&oh=8452f4ffa269980d47e8344550e26d78&oe=61665FD5);
    background-repeat: repeat-y;
    background-size: 100%;
    z-index: 1;
    position: absolute;
}